.skc1 {
  /* border: 1px solid red; */
  background: #f6f8f9;
  justify-content: space-around;
  position: fixed;
  margin-top: -2%;
  width: 100%;
}
.sk1 {
  display: flex;
  margin-top: 3vh;
}
.skc11 {
  margin: auto;
}
.skc11 img {
  width: 15vw;
  height: 5.5vh;
}
.skc12 {
  display: flex;
  margin: auto;
  gap: 6vh;
  /* border: 1px solid red; */
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  width: 50%;
  margin-left: 15vw;
}

.skc121 {
  border: 2px solid #0bb19a;
  border-radius: 5px;
  height: 6vh;
  font-size: 0.8rem;
  font-weight: 700;
  width: 10vw;
  color: #0bb19a;
  /* background-color:white ; */
  margin-left: 4vh;
}

.skc121:hover {
  background-color: #0bb19a;
  color: white;
  transition: all 0.5s;
}
.skc122 {
  border: 2px solid #0bb19a;
  border-radius: 5px;
  height: 6vh;
  font-size: 0.8rem;
  font-weight: 700;
  width: 10vw;
  color: white;
  background-color: #0bb19a;
}

.skc122:hover {
  border: 2px solid #0bb19a;
  background-color: #f6f8f9;
  transition: all 0.5s;
  color: #0bb19a;
}
.skc123 {
  position: absolute;
  height: 63vh;
  /* border:1px solid red; */
  width: 20vw;
  top: 7.5vh;
  right: 22vw;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: white;
  display: none;
}
.skhover {
  display: flex;
  /* border:1px solid red; */
  height: 3vh;
  width: 15vh;
  /* justify-content: center; */
  /* text-align: center;
  align-items: center;
  align-content: center; */
}
.skhover h2 {
  height: 0.1vh;
  width: 0.1vw;
  margin-top: -5%;
  margin-left: -5%;
}

.skhover:hover .skc123 {
  display: block;
  transition: all 2s;
}
